.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{

    padding: 10px;
}
  
.messages{
    margin-top: 5px;
    margin-left: 15px;
    padding: 10px;
}

.message{
    padding: 10px;
    background: rgb(155, 155, 155);
}